.green_txt {
	color: green;
}
.red_txt {
	color: red;
}

.blink_me {
  animation: blinker 0.2s linear infinite;
  color: green;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

.block2top{
  margin-top: 20px;
}